<h1> My Collections: </h1>

<div class="container">
  <button onclick="location.href='/collections/new'" class="btn btn-primary">Create New Collection</button>
</div>

<%@collections.each do |collection| %>

  <h2><a href="/collections/<%=collection.id%>"><%= collection.name %></a></h2>

<% end %> 




