All collections:

<%@collections.each do |collection| %>

  <p><a href="/collections/<%=collection.id%>"><%= collection.name %></a> By user: <%= collection.user.username %></p>

<% end %>

<br></br>


<button onclick="location.href='/collections/new'">New Collection</button>
<button onclick="location.href='/logout'">Logout</button>
