All collections:

<%@collections.each do |collection| %>

  <p><a href="/collections/<%=collection.id%>"><%= collection.name %></a> By user: <%= collection.user.username %></p>

<% end %>

<br></br>


<% if is_logged_in? %>
<button onclick="location.href='/collections/new'">New Collection</button>
<button onclick="location.href='/logout'">Logout</button>
<% end %>


<% if !is_logged_in? %>
<button onclick="location.href='/signup'">Sign Up for DesignCloud</button>
<% end %>

<button onclick="location.href='/'">Home</button>
