<div class="container">
  <h1>Edit Your Collection</h1>
  
  <form method="post" action="/collections/<%= @collection.id %>">
    <input type="hidden" name="_method" value="patch">

    <p class="larger-p">Collection Name: <input type="text" name="name" value="<%= @collection.name %>"</p>
    <br></br>
    <p>Add Image URL: <input type="text" name="links[url_1]"></p>
    <p>Add Image URL: <input type="text" name="links[url_2]"></p>
    <p>Add Image URL: <input type="text" name="links[url_3]"></p>
    <p>Add Image URL: <input type="text" name="links[url_4]"></p>
    <p>Add Image URL: <input type="text" name="links[url_5]"></p>
    <br></br>
      

    <input type="submit" class="btn btn-primary" value="Submit">
  </form>

  <button onclick="location.href='/collections/<%= @collection.id %>'" class="btn btn-primary">Cancel</button>
</div>

