<div class="container">
  <form method="post" action="/collections">

    <h1>Create a New Collection</h1>

    <br></br>
    <p>Collection Name: <input type="text" id="name" name="name"></p>
    <br></br>

    <input type="submit" class="btn btn-primary" value="Submit">
  </form>

  <button onclick="location.href='/collections'" class="btn btn-primary">Cancel</button>
</div>


