<form method="post" action="/collections/new">

  New DesignCloud Collection Name:
  <br></br>
   <input type="text" id="name" name="name">

  <button type="submit" value="submit">Make New Collection</button>
</form>
