<div class="container">
  <form method="post" action="/collections/new">

     <h1>Create a New DesignCloud Collection</h1>

     <p>Collection Name: <input type="text" id="name" name="name"></p>
     <br></br>

    <input type="submit" class="btn btn-primary" value="Create New Collection">
  </form>

  <button onclick="location.href='/collections'" class="btn btn-primary">Cancel</button>
</div>


