<!DOCTYPE html>

<html>

<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Amatic+SC" />
<style>
 /*header {
   width: 100%;
   height: 250px;
   background-color: lightblue;
   position: absolute;
 }*/

 h1 {
   font-family: "Amatic SC";
   font-size: 80px;
   text-align: center;
   color: black;
 }

 p {
   font-family: "Amatic SC";
   font-size: 40px;
   text-align: center;
   color: black;
 }

 button {
   font-family: "Amatic SC";
   font-size: 20px;
   text-align: center;
   color: black;
 }

 body {
   font-family: "Amatic SC";
   font-size: 20px;
   text-align: center;
   color: black;
 }
</style>

<form method="post" action="/collections/new">

  <p> New DesignCloud Collection Name: <p>

   <input type="text" id="name" name="name">

   <!-- few input boxes to put starter url's -->

  <button type="submit" value="submit">Make New Collection</button>
</form>

<br><br>
<body>
<button onclick="location.href='/collections'">Cancel</button>
<button onclick="location.href='/logout'">Logout</button>

<button onclick="location.href='/'">Home</button>
<body>
