<p><%= @collection.name %></p>
<br></br>

<% @collection.images.each do |image| %>
<%= image.url %>
<% end %>


<button onclick="location.href='/collections'">All Collections</button>
<button onclick="location.href='/logout'">Logout</button>
