  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Amatic+SC" />

  li.dropdown {
    font-size: 28px;
  }

  h1 {
    font-family: "Amatic SC";
    font-size: 80px;
    text-align: center;
    color: black;
    padding: 20px;
  }

  .subheading {
    font-family: Avenir;
    font-size: 50px;
  }

  h2 {
    font-family: Avenir;
    font-size: 40px;
  }

  h3 {
    font-family: "Amatic SC";
    font-size: 40px;
    text-align: left;
    margin-bottom: 20px;
  }

  p {  
   font-family: Avenir;
   font-size: 20px;
   text-align: left;
   color: black;
  }

  .view-collections .column {
    height: 400px;
    padding: 20px;
  }

  .view-collections .thumbnail {
    width: 100%;
    height: 350px;
  }

  .gallery .column {
    height: 300px;
    padding: 20px;
  }

  .gallery .thumbnail img {
    width: 100%;
    height: 250px;
  }

  a:link {
    text-decoration: none;
    color: black;
  }

  a:visited {
    text-decoration: none;
    color: black;
  }

  a:hover {
    text-decoration: none;
    color: hotpink;
  }

