  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Amatic+SC" />

  li.dropdown {
    font-size: 68px;
  } /* this does nothing but if i delete it, some things below it don't work */

  h1 {
    font-family: "Amatic SC";
    font-size: 80px;
    text-align: center;
    color: black;
    padding: 20px;
  }

  .subheading {
    font-family: Avenir;
    font-size: 50px;
  }

  h2 {
    font-family: "Amatic SC";
    font-size: 50px;
    text-align: center;
  }

  h3 {
    font-family: "Amatic SC";
    font-size: 40px;
    text-align: left;
    margin-bottom: 20px;
  }

  p {
   font-family: Avenir;
   font-size: 20px;
   text-align: left;
   color: black;
  }

  .view-collections .column {
    padding: 20px;
  }

  .view-collections .thumbnail {
    width: 100%;
    height: 400px;
  }

  .view-collections .thumbnail .caption {
    padding-top: 0;
    max-height: 100px;
  }

  .view-collections .thumbnail img {
    width: 100%;
    height: 250px;
  }

  .view-collections .thumbnail .thumbnail-container {
    height: 100%;
  }

  .gallery .column {
    height: 300px;
    padding: 20px;
  }

  .gallery .thumbnail img {
    width: 100%;
    height: 250px;
  }

  a:link {
    text-decoration: none;
    color: black;
  }

  a:visited {
    text-decoration: none;
    color: black;
  }

  a:hover {
    text-decoration: none;
    color: hotpink;
  }

  nav.navbar.navbar-default.navbar-light a:hover {
    text-decoration: none;
    color: hotpink ;
  }
