<div class="container">
  <h1> DesignCloud Login </h1>

  <p class="pink-text"><%= flash[:message] if flash %></p>
    <br></br>

  <form action="/login" method="post">
    
    <p>Username: <input type="text" name="username"></p>
    <br></br>
    <p>Password: <input type="password" name="password"></p>
    <br></br>
    
    <button type="submit" class="btn btn-primary">Log In</button>

  </form>
</div>
