<h1>Did it work?</h1>
<style>
 body {
   background-color: lightblue;
}

h1 {
   color: white;
   text-align: center;
}

p {
   font-family: verdana;
   font-size: 20px;
}

img {
 margin: 15px;
 border-radius: 20px;
}

#container {
 width: 200px;
 height: 200px;
}
</style>

<a href="<%=@url%>">planes</a>


<a href="https://www.wired.com/wp-content/uploads/images_blogs/wiredenterprise/2012/07/quantum-computing.jpg" target="_blank"><img src="https://www.wired.com/wp-content/uploads/images_blogs/wiredenterprise/2012/07/quantum-computing.jpg"></a>

<a href="https://s-media-cache-ak0.pinimg.com/236x/71/61/a7/7161a7d740bdf09f8adbd04e8d073a57.jpg" target="_blank"><img src="https://s-media-cache-ak0.pinimg.com/236x/71/61/a7/7161a7d740bdf09f8adbd04e8d073a57.jpg"></a>

<a href="https://www.wired.com/wp-content/uploads/2016/07/GettyImages-151815348-1024x768.jpg"><img src="https://www.wired.com/wp-content/uploads/2016/07/GettyImages-151815348-1024x768.jpg"></a>

<!-- need div classes to create containers for images. Create layout so orderly - include large header area like in blog example from GA prework -->

<!-- <a href="<& @image.url %>" target="_blank"><img src=" @image.url %>"></a> -->
