<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Amatic+SC" />
<style>
 header {
   width: 100%;
   height: 250px;
   background-color: lightblue;
   position: absolute;
 }

 h1 {
   font-family: "Amatic SC";
   font-size: 80px;
   text-align: center;
   color: white;
 }
</style>

<header>
 <h1>Title of Collection</h1>
</header>
<div class="row">
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
</div>