<link href="/stylesheets/front.css" rel="stylesheet">

<h1>DesignCloud</h1>
<h2>Create collections of inspiring images</h2>
<br></br>
<h2><a href="/login">Log In</a></h2>
<h2><a href="/signup">Sign Up</a></h2>

<div class="cloud cloud-body">
 <div class="small-cloud-top"></div>
 <div class="big-cloud-top"></div>
</div>

<div class="cloud cloud-body-2">
 <div class="small-cloud-top-2"></div>
 <div class="big-cloud-top-2"></div>
</div>


