<style>
  header {
    text-align: left;
  }

  footer {
    text-align: left;
  }

  body {
    font: Avenir;
  }
</style>
<html>
  <head>
    <title>DesignCloud</title>
  </head>
  <body>
    <header>
      Design Cloud
    </header>

    <%= yield %>

    <footer>
      &copy; Hanna & Paige
    </footer>

  </body>
</html>
